{% extends 'base.html' %}

{% block title %}{{ block.super }} | Blog {% endblock %}

{% block content %}
{% if is_paginated %}
<header>
<nav class="next_prev_nav">
{% if page_obj.has_next %}
<a href="?page={{page_obj.next_page_number}}" class="next">&larr; Older </a>
{% endif %}
{% if page_obj.has_previous %}
<a href="?page={{page_obj.previous_page_number}}" class="previous">Newer &rarr;</a>
{% endif %}
</nav>
</header>
{% endif %}

<ul id="post-list">
{% for post in posts %}
    <li>
        <a href="{{ post.get_absolute_url }}" title="View full post of {{ post.title }}">
            <header>
                {% if post.featuredimage %}
                <img src="{% if post.featuredimage.thumbnailimagefile.url %}{{post.featuredimage.thumbnailimagefile.url}}{% else %}{{post.featuredimage.fullsizedimagefile.url}}{% endif %}" class="featured-image">
                {% endif %}
                <h3 class="blog-title">{{ post.title|safe }}</h3>
                <cite class="date">{{ post.published|date:"Y F d" }}</cite>
            </header>
            <p class="tease">{% if post.description %}{{ post.description|safe|truncatewords_html:"100" }}{% else %} {{ post.content|safe|truncatewords_html:"100"|striptags }} {% endif %}</p>
        </a>
    </li>
{% endfor %}
</ul>

{% if is_paginated %}
<footer>
<nav class="next_prev_nav">
{% if page_obj.has_next %}
<a href="?page={{page_obj.next_page_number}}" class="next">&larr; Older </a>
{% endif %}
{% if page_obj.has_previous %}
<a href="?page={{page_obj.previous_page_number}}" class="previous">Newer &rarr;</a>
{% endif %}
</nav>
</footer>
{% endif %}

{% endblock %}